.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.output {
  width: 340px;
  height: 70px;
  outline: none;
  border: none;
  background: rgb(40, 40, 40);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 36px;
  padding: 2px, 10px;
  color: white;
  text-align: right;
}

button {
  width: 86px;
  height: 80px;
  font-size: 30px;
  border: none;
  border-top: 1px solid rgb(39, 38, 38);
  border-right: 1px solid rgb(39, 38, 38);
  cursor: pointer;
}

.fun-keys {
  background-color: #c9c8cc;
}

.operator {
  border-right: none;
  background-color: rgb(230, 167, 7);
  color: white;
}

.border {
  border-bottom-right-radius: 6px;
}

.border1 {
  border-bottom-left-radius: 6px;
}